/** 常用色值 **/
/** 常用字体大小 **/
.logo {
  line-height: 100px;
  background-color: #002140;
  padding-left: 20px;
}
.logo img {
  height: 50px;
}
.logo h1 {
  color: #fff;
  font-size: 20px;
  line-height: 90px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
.menuList {
  font-size: 16px;
}
.ant-menu-inline .ant-menu-submenu .ant-menu-submenu-title {
  font-size: 20px !important;
}
.ant-menu-vertical .ant-menu-item {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}
.ant-menu-vertical .ant-menu-submenu .ant-menu-submenu-title {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}
