@import './../../style/default.less';
// 设置logo的样式
.logo {
    line-height: 100px;
    background-color: #002140;
    padding-left: 20px;
    img {
        height: 50px;
    }
    h1 {
        color: #fff;
        font-size: 20px;
        line-height: 90px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;
    }
}

// 涉及菜单的样式
.menuList {
    // padding-left: 20px;
    font-size: 16px;
}

// 修改组件默认样式，增大字体大小
.ant-menu-inline {
    .ant-menu-submenu {
        .ant-menu-submenu-title {
            font-size: 20px !important;
        }
    }
}

// 用来改变antd组建内置样式
.ant-menu-vertical .ant-menu-item {
    font-size: @fontD;
    height: 50px;
    line-height: 50px;
}

.ant-menu-vertical .ant-menu-submenu .ant-menu-submenu-title {
    font-size: @fontD;
    height: 50px;
    line-height: 50px;
}