/** 常用色值 **/
/** 常用字体大小 **/
.card_button button {
  margin-right: 10px;
}
.card_margin {
  margin-bottom: 15px;
}
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}
.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}
.card_spin span {
  margin-right: 20px;
}
.carousel_one {
  text-align: center;
  line-height: 160px;
  font-size: 20px;
  width: 100%;
  height: 160px;
  background-color: #62b0f8;
}
.carousel_one h3 {
  color: white;
}
.carousel_two {
  width: 100%;
  height: 400px;
}
.carousel_two img {
  width: 100%;
  height: 400px;
}
