/** 常用色值 **/
/** 常用字体大小 **/
/** load **/
.ajax-loading {
  display: none;
}
.ajax-loading .loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 40px;
  height: 80px;
  line-height: 80px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  text-align: center;
  z-index: 9999;
  font-size: 16px;
  color: #fff;
}
.ajax-loading .loading img {
  width: 32px;
  vertical-align: middle;
}
.ajax-loading .loading span {
  margin-left: 12px;
}
.ajax-loading .overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9998;
  background: #ffffff;
  opacity: 0.1;
}
/****/
ul,
li {
  list-style: none;
}
.container {
  font-size: 16px;
}
.container .nav-left {
  height: calc(100vh);
  background-color: #001529;
}
.container .main {
  height: calc(100vh);
  background-color: #f1f3f5;
  overflow: auto;
}
.container .content {
  padding: 40px;
}
.content-wrap {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-top: -2px;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}
.detail_page .header {
  background-color: #1DA57A;
  font-size: 16px;
}
.detail_page .header .header_top {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  text-align: right;
  padding-right: 20px;
}
.detail_page .header .header_top a {
  margin-left: 40px;
  color: white;
}
