@import './default.less';
.container{
    font-size: @fontD;
    .nav-left{
        height:calc(100vh);
        // background-color: aqua;
         background-color:#001529;
    }
    .main{
        height:calc(100vh);
        background-color:@colorL; 
    }
    .content{
        padding:40px;
    }
}